/*index styling common across all pages provides consistent styling and colour palette*/
:root {
    --primary-color: #ac9fbb;
    --secondary-color: #f7ebec;
    --primary-background: #596565;
    font-family: Arial, Helvetica, sans-serif;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
body {
    margin: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-color);
}

header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.logo-name a img {
    height: 80px;
}

.name {
    font-size: 32px;
}
ol {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: var(--secondary-color);
    color: var(--primary-background);
  }
  
  ol li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  ol li a:hover {
    background-color: var(--primary-background);
    color: var(--secondary-color);
    font-size: Larger;
  }
   /*Responsive screen size changes to formating for different screen sizes */
@media screen and (min-width: 800px) {
    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .name {
        margin-bottom: 0;
    }

}
footer {
    background-color: var(--primary-background);
    color: var(--primary-color);
    text-align: center;
    padding: 16px;
}
.social-media {
    display: flex;
    float: left;
    justify-content: space-between;
    padding-right: 0;
    margin-bottom: 24px;
}
.social-media a {
    font-size: 24px;
    color: var(--primary-color)
}
   
.social-media {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}
.info {
    color: var;
    font-weight: bold;
    margin-top: 15px;      
    float: right;
}

.copyright {
    color: var(--secondary-color);
    margin-top: 45px;
    float: center;
    margin-left: 10px;
}