  /*Responsive screen size changes to formating for different screen sizes */
/* For width smaller than 400px: */
.container .container:hover {
  background-repeat: no-repeat;
  background-image: url('/home/she2024/2024-apr-std-class/Sheree_Kunne_T1A2/images/roger-harrison-2oKA5NUHyMg-unsplash- mobile crop-s.jpg'); 
} 

/* For width 400px and larger: */
@media only screen and (min-width: 400px) {
  .container { 
     background-image: url('/home/she2024/2024-apr-std-class/Sheree_Kunne_T1A2/images/roger-harrison-2oKA5NUHyMg-unsplash background.jpg'); 
  }
/* Display text over image when mouse hovers for screens with a width over 800px*/
@media screen and (min-width: 800px) {
.container {
    position: relative;
    display: grid;
    place-items: centre;
    width: 800px;
    background-size: contain;
      
  }
  .img {
    max-width: fit-content;

  }
  
  .home {
    display: block;
    width: 100dvw;
    height: auto;
    margin-bottom: 0;
    display: grid;
    place-items: centre;
    padding-left: 0;
  }
  
  .overlay {
    position: flex;
    float: left;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    height: 75%;
    width: 75%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--secondary-color);
  }
  
  .container:hover .overlay {
    opacity: 5;
  }
  
  .text {
    color: white;
    cursor: pointer;
    font-size: 50px;
    display: grid;
    position: absolute;
    top: 40%;
    left: 15dvw;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}}