@media screen and (min-width: 900px) {
.container {
    position: relative;
    width: 100dvw;
  }
  
  .image {
    display: block;
    width: 50dvw;
    height: 70dvh;
    margin-bottom: 0;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--secondary-color);
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .touch-screen image {
  display: none/block;
} }
/*
@media screen and (min-width: 300px){
  .touch-screen {
  display: img;
} }*/